{% extends "users/base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Tenant</th>
            <th>Property Address</th>
            <th>Payment Date</th>
            <th>Amount Paid</th>
            <th>Method</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.tenant.name }}</td>
            <td>{{ payment.tenant.property_address }}</td>
            <td>{{ payment.payment_date }}</td>
            <td>KES {{ payment.amount_paid }}</td>  <!-- Updated field name -->
            <td>{{ payment.payment_method }}</td>  <!-- Updated field name -->
            <td>{{ payment.status }}</td>
            <td>
                <a href="{% url 'tenant_payments' payment.tenant.id %}" class="btn btn-primary">View History</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}
