{% extends "users/base.html" %}
{% block content %}
<h2>Payment History for {{ tenant.name }}</h2>
<table class="table">
    <thead>
        <tr>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Method</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.payment_date }}</td>
            <td>KES {{ payment.amount }}</td>
            <td>{{ payment.method }}</td>
            <td>{{ payment.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'payment_list' %}" class="btn btn-secondary">Back</a>


{% endblock %}

